<div>
  <div class="container">
    <div class="plyatund-button-row">
      <button mat-raised-button color="accent" (click)="openDialog(null)">Create</button>
    </div>
      <mat-card *ngFor="let data of dataSource" class="plyatund-card">
        <mat-card-header>
          <div mat-card-avatar class="plyatund-header-image">
            <svg [data-jdenticon-value]="data.name + data.value + data.message"></svg>
          </div>
          <mat-card-title>$ {{ data.value | number: '.2'}}</mat-card-title>
          <mat-card-subtitle>{{data.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{data.message}}
          </p>
        </mat-card-content>
      </mat-card>
  </div>
</div>
